# Environment variables / secrets
.env
.env.*

# Python virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Flask
instance/
.webassets-cache/

# IDE / VS Code
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log